.header{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    position: relative;

    .header__main{
        width: 540px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 70px;
        &__theme{
            button{
                border: 0;
                background: transparent;
                i{
                    font-size: 26px;
                    color: white;
                }
            }
        }
    }
}